.post {
	display: flex;
	margin: 15px 0;
	display: flex;
	flex-direction: column;
	font-size: 13px;
	background-color: #fff;
	border-radius: 4px;
	overflow: hidden;
}

.post__topline {
	padding: 15px 20px;
	display: flex;
}

.post__avatar {
	overflow: hidden;
	width: 50px;
	height: 50px;
	border-radius: 50%;
}

.post__avatar img{
	max-width: 100%;
	object-fit: fill;
}
.post__author{
	color: #2a5885;
	font-weight: 600;
	padding-top: 8px;
	margin-left: 15px;
	text-decoration: none;
}
.post__author:hover{
	text-decoration: underline;
}

.post__bottom{
	padding: 0 20px;
}
.post__likes{
	padding: 12px 0;
	border-top: 1px solid #e7e8ec;
	display: flex;
	align-items: center;
}
.post__likes a{
	color: #5b88bd;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 13px;
}
.post__likecount{
	margin-left: 10px;
	font-size: 13px;
}

.post__content {
	padding: 8px 20px 20px;
}