.userPhoto{
	width: 90px;
	height: 90px;
}

.button{
	padding: 7px 16px 8px;
	margin: 0;
	font-size: 12.5px;
	display: inline-block;
	zoom: 1;
	cursor: pointer;
	white-space: nowrap;
	outline: none;
	vertical-align: top;
	line-height: 15px;
	text-align: center;
	text-decoration: none;
	background: none;
	background-color: #5181b8;
	color: #fff;
	border: 0;
	min-width: 90px;
	border-radius: 4px;
	box-sizing: border-box;
}
.button:disabled{
	opacity: 0.7;
}

.cards{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: stretch;
}

.user_card{
	text-align: center;
	width: 23%;
	display: flex;
	margin: 1%;
	flex-direction: column;
}

@media (max-width: 764px){
	.user_card{
		width: 31%;
	}
	.userPhoto{
		border-radius: 50%;
	}
}
@media (max-width: 400px){
	.user_card{
		width: 48%;
	}
}