
.messages_form{
	padding: 10px 15px 21px;
	position: relative;
	background-color: #fff;
}

.typing_wrap{
	line-height: 18px;
	width: 100%;
	height: 39px;
	overflow: hidden;
	background-color: #fff;
	text-align: center;
	font-size: 13px;
	color: #c1c1c1;
}
.messages__wrap{
	display: flex;
	flex-direction: column;
	height: 100%;
}
.messages{
	overflow-y: scroll;
	max-height: 500px;
	min-height: 150px;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

::-webkit-scrollbar {
	width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #e1e5eb;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}

.messages_textarea{
	overflow: auto;
	border-radius: 0;
	border: 0;
	box-shadow: none;
	outline: none;
	box-shadow: 0 1px 0 0 #e8e8e8;
	position: relative;
	margin: 0;
	min-height: 27px;
	height: auto;
	box-sizing: border-box;
	width: 100%;
	font-size: 12px;
	resize: none;
	transition: all .2s ease-in-out;
}
.messages_textarea:focus{
	box-shadow: 0 1px 0 0 #6490b1;
}

.send{
	position: absolute;
	right: 18px;
	bottom: 25px;
}
.send img{
	width: 25px;
}
@media(max-width: 764px){
	.messages{
		max-height: inherit;
		height: inherit;
	}
}