
.header{
  background-color: #4a76a8;
  height: 42px;
  display: flex;
  align-items: center;
}

.header__body{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile{
  display: flex;
  align-items: center;
}

.avatar{
  width: 28px;
  height: 28px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}

.avatar img{
  object-fit: fill;
  position: relative;
}

.profile__content{
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  background: none;
  border: none;
}

.profile__content:focus .dropdown{
  visibility: visible;
}


.dropdown{
  position: absolute;
  top: calc(100% + 10px);
  right: 0;
  width: 100%;
  background-color: #fff;
  border-radius: 3px;
  color: #333;
  padding: 3px;
  visibility: hidden;
  box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
}
.dropdown button{
  background-color: transparent;
  border: none;
  box-shadow: none;
  cursor: pointer;
}

.name{
  padding-right: 10px;
  display: inline-flex;
  align-items: center;
  vertical-align: top;
  font-size: 13px;
  font-weight: 700;
  color: #fff;
}
.logo{
  display: inline-flex;
  align-items: center;
}
.logo img{
  width: 35px;
}

.link a{
  text-decoration: none;
  color: #fff;
}