.nav {
	min-width: 150px;
	width: 150px;
}

ul {
	list-style-type: none;
    padding: 0;
    width: 100%;
}

.item a {
	color: #285473;
	display: flex;
	align-items: center;
	text-decoration: none;
	padding: 3px 5px;
}

.item a:hover,
.item a.active {
	background: #e1e5eb;
	text-decoration: none;
	border-radius: 2px;
}

.item a .page_name {
	height: 28px;
	line-height: 27px;
	font-size: 12.5px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.icon{
	width: 35px;
	height: 25px;
	opacity: 0.75;
	filter: alpha(opacity=75);
	display: block;
}
.icon img{
	width: 25px;
}


@media (max-width: 998px) {
	.nav{
		display: none;
	}
}