.narrow_column_wrap{
	min-width: 230px;
	width: 230px;
	position: relative;
}

.page__block{
	background-color: #fff;
	border-radius: 4px;
	padding: 15px;
}
.start_dialog,
.avatar_inp_wrap{
	text-align: center;
	margin-top: 15px;
}
.avatar {
	width: 100%;
	height: auto;
	overflow: hidden;
	position: relative;
	font-size: 0;
}

.avatar__wrap{
	position: relative;
}
.avatar__wrap:hover .uploadPhoto{
	opacity: 1;
	visibility: visible;
}
.uploadPhoto{
	position: absolute;
	cursor: pointer;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(0,0,0,0.5);
	opacity: 0;
	visibility: hidden;
	transition: all .2s ease-in;
}
.uploadPhoto img{
	width: 50px;
}

.hidden{
	position: absolute;
	width: 0;
	height: 0;
	padding: 0;
	margin: 0;
	visibility: hidden;
	border: none;
}

@media (max-width: 764px) {
	.narrow_column_wrap{
		display: none;
	}
}