body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input{
  font-family: 'Roboto', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button{
  border: none;
  box-shadow: none;
  background-color: transparent;
}

@media(min-width: 765px){
  .show_mob{
    display: none;
  }
}
@media(max-width: 764px){
  .hide_mob{
    display: none;
  }
}