.dialogs__wrap{
    display: flex;
    align-items: stretch;
    background-color: #fff;
    border-radius: 4px;
}
.messages_wrap{
    border-left: 1px solid rgba(0,0,0,0.1);
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}
.dialogs{
    width: 30%;
    max-height: 500px;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #e1e5eb;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

@media(max-width: 764px){
    .dialogs__wrap{
        flex-direction: column;
        height: calc(100vh - 42px - 13vw);
    }
    .dialogs{
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: stretch;
        overflow-y: hidden;
        overflow-x: scroll;
        max-height: inherit;
    }
    .messages_wrap{
	    height: 100%;
    }
}